html,
body {
	margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
	background: url(pozadi_body_500x1920.jpg);
    background-position: top;
    background-repeat: repeat-y;
    background-size: contain;
}

/*.karl::after {
content:'Karl Lagerfeld';
font-size: 14px;
font-style: italic;

}*/

.quotes {
	letter-spacing: 2px;
	text-align: left;
	padding-left: 15px;
	border-left: 3px solid #eee;
}

.zavinac {
	width: 315px;
	margin-left: auto;
	margin-right: auto;
}

.circle {
	width: 100%;
	border-radius: 50%;
	text-align: center;
	font-size: 15px;
	padding: 15% 10%;
	position: relative;
	background: #cf612d;
	color: white;
	margin-left: auto;
	margin-right: auto;

}

.circle-b {
	width: 100%;
	border-radius: 50%;
	border: 2px solid #cf612d;
	text-align: center;
	font-size: 15px;
	padding: 15% 10%;
	position: relative;
	background: white;
	color: #cf612d;

}

.circle>img {
	border-radius: 50%;
}

.page-header {
	border-bottom: none;
	margin: 0px;
}

.page-header h3 {
	line-height: 50px;
}

.container {
	max-width: 320px;
	padding: 0px 2px;
	margin: 0 auto;
	 /* background-color: white; */
    /* background: url(pozadi_sirka_1920x962.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
    /* box-shadow: 4px 3px 14px 0px #80808052; */
}

.tlacitko-formular {
	padding: 5px;
	margin: 15px auto;
	background-color: #d68ade;
	text-align: center;
	padding-left: 0px;
	max-width: 240px;
	border-radius: 5px;

}

.p-right {
	text-align: right;
}

.p-center {
	text-align: center;
}

/* Header */
body .header:first-child {

	background: url(nohynah.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 600px;

}

.header {
	margin: 10px auto;
	background-color: #cf612d;
	background-size: cover;
	color: white;
	text-align: center;
}

.header h1 {
	font-size: 40px;
	letter-spacing: 20px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.header h2:after {
	content: "T";
	font-size: 50px;
	color: #f7ea3d;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);

}

.header h3 {

	font-size: 35px;
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	letter-spacing: 5px;

}

.header h4:after {
	content: "T";
	font-size: 120px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}


.nav {

	font-size: 18px;
	letter-spacing: 5px;
	text-align: center;
	background-color: transparent;
	color: #f7ea3d;


}

.nav:hover {
	background-color: transparent;
	/*box-shadow:0 2px 4px rgba(0,0,0,.5); */



}

.nav>li {
	display: inline-block;
	width: 120px;
	margin: 0px auto;
}

.nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: transparent;
	color: #f7ea3d;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	padding: 0px 5px;
}


.nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	opacity:70%;
}

.tlacitko-formular>a:hover {
	text-decoration: none;
	background-color: transparent;
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	border-bottom: 5px solid white;
	opacity:70%;
}

.nav>li>a:active {
	text-decoration: none;
	background-color: transparent;
	color: #7bc5dc;
}

.nav>li>a:focus {

	background-color: transparent;
	color: #7bc5dc;
}

/* Support */

.support {
	color: white;
	text-align: center;
	background: url(kurtmensiII.jpg) no-repeat center center;
	background-size: cover;

}

/* Jumbotron */

.jumbotron {
	background-color: #ffffff00;
	background-size: cover;
	margin-bottom: 0px;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	text-align: center;
	position: relative;		
}

.jumbotron img {
	margin-top: 3px;
}

.jumbotron .container {
	max-width: 320px;
	
}

.ikona-kolecko-vykryti {
	padding: 0px 10px;
}

.ikona-kolecko-vykryti-bila {
	padding: 5px 0px;
	border-radius: 50%;
	background-color:white;
	height: 57px;
	width: 57px;
	margin: 0px auto;
}

.jumbotron h1 {
	text-transform: uppercase;
	margin-top: 45px;
	text-align: center;
}

.jumbotron h2:first-child {
	margin-top: 120px;
}

.jumbotron h3 {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}

.jumbotron .row:nth-child(2) {
	text-align: center;
}


.vykryti-bila {
	background-color: white;
	padding: 5px 24px 5px 24px;
	margin: 0px	2px 0px 5px;	
}

img.sipka-sekce {
	margin-top: 20px;
}

div#buttons-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

div#buttons-menu button {
    padding: 0px 0px 10px 8px;
    margin-bottom: 7px;
    display: block;
    border-radius: 50%;
    border: 0;
    width: 56px;
    height: 53px;
    overflow: hidden;
    background: #ffffffa6;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: center;
    url(https://lh3.googleusercontent.com/fife/ALs6j_G1ftMxi-bQ-wLE6NzzLtamKlWUCFPQtIKEH6FuEdlE7W2XAdIXa13vhBHIuLILpBvAznXQLN6mpZElYulneXAE_T3tw0OBxQi1wgG4MdjdSTfYILr5RVg4j0v4lvbi1qZ4i8oL7RjB5TINWRWc5d_-k53Fufi6idE_5cMdwkxCghU4tM-BZDpSL_1YR2uow9i_9bzR-PWYAoIWYKOdcOkl11NP5nAEYFBQv0mg4TpK9DXfQxT4-tfchTtz8yJid2NegeivQhlzmFFInsD0PmmwAMPQx2BwWqsVPoVT0vVZWyU5X6xm_tHKZUX6RKRM0J5fSlIho_ylDplvXVIKi_tZdPk5Na4BnHJ8L5RO3an5sX4FUBUZsW6dd3lhXWaerV7CVCkodlvWRfTIAiwlLhC9aG3tD9NGjxx_3UhwALvkgNLKcNQJvGl0GLDPhRpJJmBfRSt8hyTOCWS74_gWFYpjoBDSCM6m8D9mXSvUzAjwC1-ed-lWO9mQbLki5NjhnM61qbnTGh2x6JE7XFzMioyLBWnmXgohGXIdBZ5w9aABlQdYzCkbH4uT_yUd_bkdAdItkLqHnVDkdR3F5C5DfqOqNOXppqoPHruUCwwOpfK658pjTficuFX8xeNKRdjbQe25tpvXVwkhwZ5SiL9198dSrsjPU5VOm9eS8-L7DQSK7GLhFduwl-w2n75Z8Q01OV7IFxwSj0y-6QY3aAKRws9dlx3wn6d36GPEZMXYRhbm0SSN8X63rrwBRC6KC5XpoQee5smC42vXLqpdL6yZEGQMstH3Ada_GV_R4BsEHNz_34-8rDuyC6ZCUIrufbAbiduxAHWNKWJOmbDIdWn3YBcPrJ7KgLG9vgfJn_gWe_fz-FKW0vp61v32Yy_jL-TH6nRXGscG5HpVAKFwCHmQXiVdsSlFOrlw-GqH28xfCf0HkLPzpfszSy5piv0lknNhkAYeDUtESAvQrfZZbE1D5cXp_WfppojpcEHZCoxllJZ1mOlEVD4jStkV5COQDg4l-gALj7FON2AgMvIgLqz2Ni0i1mr-IYiRA89e4XG7A9N5JD7_jgZqEOauhKITB3IYQw_Hi1tF3uruSfWOignHvGlKRLSr-kioOdP9rbCLmwE-L6M2KddyerJAycJKIFUz1asRWSWdQAA-eRBAL5dJTDAaxDmlPMcZyWamGXDEmtZ0phcYSK-B5iR-3keZiE_47qGU9LS85SR6VgqbyB4jDrThoW1ABw7K_MQiS9myw7_-LWX30BJeXL7pWG1-VcN7uU-J3Pgv0dKR1ntC8UMZJzc2Op3dcwXHmc5PSRQp3CZx_COAbPcdvObn_6_rpJRAnstcZLm0EyRxDIU1K-eAXMvnsWbSAx9c8IOOgrW8h1WKTIBt0OF1KKEX2zG5bBNQTK0yij-SOCVE6MKx4KVtk41g-2YTzvcxoqN1ULsF95qcohp_Voqa6Yni7D8TSsCi35jaowWYO0GFKgLigll_00xuwAjCiVVYNNRNyrvT5XTy2o3xqCLTS2KbK3a-5Mjg4jk1ThxCfThlskW-ErbkjNdiP4gCWk39QB0KY83H_2u99LCi0STAlD_DM_4F_LYn7hrlHdFupoXyu40NMg=w1920-h919); * background-attachment: fixed;
	*/
    background: #ffffffc9;
    box-shadow: 0 0 10px grey;
}

div#buttons-menu button img, div#buttons-menu button svg {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
	max-height: 90%;
}

#home h3 {
	margin: 10px 0px 15px 0px;
}


#pozvanka {
	background-size: cover;
}

#pozvanka-img {
		margin: 0 auto;
		box-shadow:  5px 5px 5px 5px #80808063;
		max-height: 960px;
}

#darecek h1,
#prijezd h1,
#program h1,
#prespani h1,
#kontakt h1,
#galerie h1 {
	text-align: center;
	
}

#darecek img {
	margin-top: 20px;
}

#start h1,
#faq h1 {
	text-align: left;
}

/*
#program {
	background: url(honzah3.jpg) no-repeat center center;
	background-size: cover;
}

#prespani {
	background: url(kartyor.jpg) no-repeat center center;
	background-size: cover;
}

#kontakt {
	background: url(kartyor.jpg) no-repeat center center;
	background-size: cover;
}


#galerie {
	background: url(skupina.jpg) no-repeat center center;
	background-size: cover;
}

*/

#galeriedolu {
	text-align: center;
}

.image-grid img {
	cursor: pointer;
	border-bottom: 0;
	/*    height: 15%;
	width: 15%;*/
	/*display: block;
	float: left;}*/
	margin: 0 5px 10px 0;
	max-width: 100%;
}

.image-grid img:hover {
	opacity: .8;
}

/* Banner */
.banner .btn {
	margin-top: 20px;
	font-size: 18px;
}

.banner,
.supporting {
	text-align: center;
	padding: 0;
}

.banner {
	background-color: rgba(255, 255, 255, 0);
	height: 0px;
	color: #d8192f;
}

.banner h2 {
	text-transform: uppercase;
}


/* Section */
.section {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
	
}
/* 
.section > .container {
	background: url(pozadi_sekce_cont_sirka_340_2088.jpg) no-repeat center center;
	background-size: cover; 
	
} */

.section img {
	margin-top: 10px;

}


.section p {
	margin: 10px auto;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: left;
	line-height: 1.6;
}

.section h3 {

	letter-spacing: 1px;
	text-align: left;
}

.section h4 {
	margin: 14px 0;
	color: #000000;
	text-align: left;

}

.section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#btn-back-to-top {
	bottom: 20px;
	right: 20px;
	display: none;
}

#nohap1 {
	margin-top: -40px;
	margin-bottom: 10px;
}

#nohap2 {
	margin-top: -40px;
	margin-bottom: 10px;
}

#pupikp1 {
	margin-top: -30px;
}

#pupikp2 {
	display: block;

}

#fblogo1 {
	display: none;
}

#fblogo,
#fblogo1,
#ytlogo1 {
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
}

#fblogo:hover,
#fblogo1:hover,
#ytlogo1:hover {
	opacity: .8;
}

/* Footer */
.footer {

	color: white;
	background-color: #faebd7;
	border-top: 1px solid #eee;
	margin-top: 50px;
}

.footer a {

	color: #d8192f;
	text-decoration: none;

}

.footer p {

	margin-top: 20px;
}



.footer a:hover {
	text-decoration: underline;
}

/* Media Queries */


@media (max-width: 370px) {
	.nav {
		display: block;
		margin: 0 auto;
		float: none;
	}

	.section p {
		font-size: 16px;
	}

	.nav>li {
		display: block;
	}
}

@media (max-width: 450px) {
	
	
	/* #prijezd {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#prijezd-jumbotron_II {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#program {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#program-jumbotron_II {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#prespani {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#prespani-jumbotron_II {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#darecek {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#darecek-jumbotron_II {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#kontakt {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#kontakt-jumbotron_II {
		background: url(pozadi_body_cont_sirka_416_340.jpg) no-repeat center center;
		background-size: cover;
		
	}
*/
	.nav>li {
		display: block;
	}
}

@media (min-width: 451px) {

	body {
		margin: 0;
		padding: 0;
		font-family: "DM Sans", sans-serif;
		font-size: 15px;
		background: url(pozadi_body_1920x1920.jpg);
		background-position: top;
		background-repeat: repeat-y;
		background-size: contain;
	}

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}

	/*
	#prijezd {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#prijezd-jumbotron_II {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#program {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#program-jumbotron_II {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#prespani {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#prespani-jumbotron_II {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#darecek {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#darecek-jumbotron_II {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
		
	}

	#kontakt {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
	
	}
	
	#kontakt-jumbotron_II {
		background: url(pozadi_body_cont_sirka_1370_384.jpg) no-repeat center center;
		background-size: cover;
		
	}

	*/	

}

@media (min-width: 250px) {

	.zavinac {
		width: 290px;
	}

	.cirlce {
		width: 90%;
	}

	.jumbotron h1 {
		font-size: 40px;
		letter-spacing: 10px;

	}

	.section h3 {
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 40px;
	}

	.banner h2 {
		font-size: 24px;

	}

	/*.image-grid img {
		height: 22%;
		width: 22%;
	}*/

}


@media (min-width: 320px) {
	.cirlce {
		width: 100%;
	}

	.zavinac {
		width: 315px;
	}
}

@media screen and (max-width: 370px) {

	div#buttons-menu {
		right: 7px;
	}
}

@media screen and (min-width: 430px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 30px;
	}
}

@media screen and (min-width: 525px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 45px;
	}
}




@media screen and (max-width: 606px) {

	.container {
		max-width: 320px;
		 /* background-color: white; */
		/* background: url(pozadi_sirka_1920x962.jpg) no-repeat center center fixed; */
		/* background-size: cover; */
		/* box-shadow: 4px 3px 14px 0px #80808052; */
	}
	
	}

@media screen and (min-width: 606px) {

.container {
	max-width: 477px;
	 /* background-color: white; */
    /* background: url(pozadi_sirka_1920x962.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
    /* box-shadow: 4px 3px 14px 0px #80808052; */
}

.jumbotron .container {
	max-width: 477px;
	
}


}

@media screen and (min-width: 768px) {
	.jumbotron {
		text-align: center;
	}

	.jumbotron h1 {
		font-size: 63px;
	}

	.section h3 {
		font-size: 22px;
		letter-spacing: 1px;
	
	}

	.banner h2 {
		font-size: 26px;

	}

	.nav>li>a {
		font-size: 15px;
	}

	/*.image-grid img {
		height: 15%;
		width: 15%;
	}*/

}

@media screen and (max-width: 892px) {

	.jumbotron {
		text-align: center;
	}

	.nav {
		display: block;
		float: none;
	}

}


@media screen and (min-width: 893px) {

	.jumbotron {
		text-align: left;
	}
}

@media screen and (min-width: 920px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 120px;
	}
}

@media screen and (min-width: 992px) {




	/*.jumbotron h3:first-child {
		display: block;
	}
	
	.jumbotron h3:nth-child(2) {
		display: none;
	} */

	#dday {
		color: white;
	}

	#nohap1 {
		display: none;
	}

	#nohap2 {
		display: block;
	}

	#pupikp1 {
		display: block;
	}

	#pupikp2 {
		display: block;
	}

	#fblogo {
		display: none;
	}

	#fblogo1 {
		display: block;
	}
}

@media screen and (min-width: 1042px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 220px;
	}
}

@media screen and (min-width: 1360px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 370px;
	}
}

@media screen and (min-width: 1420px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 420px;
	}
}

@media screen and (min-width: 1560px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 470px;
	}
}

@media screen and (min-width: 1760px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 520px;
	}
}

@media screen and (min-width: 1870px) {

	div#buttons-menu {
		position: fixed;
		bottom: 20px;
		right: 570px;
	}
}
